{{ partial:layout/section class="imprint" }}
  {{ partial:layout/inner }}
    <h1>Impressum</h1>
    <p>
      Morf Bautreuhand AG<br>
      Schickmattweg 8<br>
      8332 Russikon<br>
      <a 
        href="mailto:hello@wohnen-felsengrund.ch" 
        target="_blank" 
        rel="noopener" 
        class="hover:underline underline-offset-2 decoration-1">
        hello@wohnen-felsengrund.ch
      </a><br>
      <a href="https://www.morf-bautreuhand.ch" 
        target="_blank" 
        rel="noopener" 
        class="hover:underline underline-offset-2 decoration-1">
        www.morf-bautreuhand.ch
      </a>
    </p>
    <h2>Design und Entwicklung</h2>
    <p>Stoz Werbeagentur AG<br>Barzloostrasse 2<br>8330 Pfäffikon ZH<br><a href="mailto:hello@stoz.ch" target="_blank" class="hover:underline underline-offset-2 decoration-1">hello@stoz.ch</a><br><a href="https://www.stoz.ch" target="_blank" rel="noopener" class="hover:underline underline-offset-2 decoration-1">www.stoz.ch</a></p>
    <h2>Programmierung</h2>
    <p>Marcel Stadelmann, Zürich<br><a href="https://marceli.to" target="_blank" rel="noopener" class="hover:underline underline-offset-2 decoration-1">marceli.to</a></p>
  {{ /partial:layout/inner }}
{{ /partial:layout/section }}