{{ partial:layout/section class="bg-gold"}}
  
  {{ partial:layout/inner class="text-white" }}

    {{ partial:layout/grid }}

      {{ partial:layout/span }}

        <h1 class="text-white">Kontaktformular</h1>

        <h3 class="text-white">Herzlichen Dank für Ihr Interesse</h3>

        <p>Gerne stehen wir für Fragen zur Verfügung und freuen uns auf Ihre Kontaktaufnahme.</p>

      {{ /partial:layout/span }}

    {{ /partial:layout/grid }}


    {{ form:contact_form class="mt-30 lg:mt-45 xl:mt-60" }}

      {{ if errors }}
        {{ partial:components/forms/elements/errors }}
      {{ /if }}
    
      {{ if success }}
        {{ partial:components/forms/elements/success }}
          Vielen Dank für Ihre Anfrage.
        {{ /partial:components/forms/elements/success }}
      {{ /if }}


      {{ fields | dump }}
      <input type="text" name="webs1te" class="hidden" />
      {{ partial:layout/grid class="sm:gap-16 lg:!gap-24" }}
        {{ partial:layout/span }}
          {{ partial:components/forms/elements/field field="firstname" placeholder="Vorname*" value="{{ old:firstname }}" error="{{ error:firstname ? true : false }}" }}
        {{ /partial:layout/span }}

        {{ partial:layout/span }}
          {{ partial:components/forms/elements/field field="name" placeholder="Name*" value="{{ old:name }}" error="{{ error:name ? true : false }}" }}
        {{ /partial:layout/span }}

        {{ partial:layout/span }}
          {{ partial:components/forms/elements/field field="street_number" placeholder="Strasse/Nr.*" value="{{ old:street_number }}" error="{{ error:street_number ? true : false }}"}}
        {{ /partial:layout/span }}

        {{ partial:layout/span }}
          {{ partial:components/forms/elements/field field="location" placeholder="PLZ/Ort*" value="{{ old:location }}" error="{{ error:location ? true : false }}" }}
        {{ /partial:layout/span }}

        {{ partial:layout/span }}
          {{ partial:components/forms/elements/field type="email" field="email" placeholder="E-Mail*" value="{{ old:email }}" error="{{ error:email ? true : false }}" }}
        {{ /partial:layout/span }}

        {{ partial:layout/span }}
          {{ partial:components/forms/elements/field field="phone" placeholder="Telefon" }}
        {{ /partial:layout/span }}

        {{ partial:layout/span class="!col-span-full" }}
          {{ partial:components/forms/elements/textarea field="message" placeholder="Nachricht*" }}
        {{ /partial:layout/span }}

        {{ partial:layout/span class="!col-span-full" }}
          {{ partial:components/forms/elements/checkbox field="privacy" id="privacy" label="Ich habe die Datenschutzerklärung gelesen und akzeptiere diese." error="{{ error:privacy ? true : false }}" }}
        {{ /partial:layout/span }}

        {{ partial:layout/span }}
          {{ partial:components/forms/elements/button label="Absenden" }}
        {{ /partial:layout/span }}

      {{ /partial:layout/grid }}
    
    
    {{ /form:contact_form }}

  {{ /partial:layout/inner }}

{{ /partial:layout/section }}
