{{ partial:layout/section class="bg-gold"}}
  
  {{ partial:layout/inner class="text-white" }}
  
    <h2 class="text-white">Willkommen in Pfäffikon</h2>
    {{ partial:layout/grid }}
        
        {{ partial:layout/span }}
        <p>Grüne Wiesen im Frühling laue Nächte im Sommer, goldene Stimmung im Herbst und bezaubernde Stimmung am See – all das ist Pfäffikon. In Pfäffikon wird man von der Natur, den Bewohnern und dem See herzliche empfangen.</p>
        <p>Wenig Schritte von der Haustüre liegt das Naherholungsgebiet Pfaffberg mit den unzähligen Wanderwegen, den Aussichtspunkten und dem Tobelweier. Nur wenige Gehminuten entfernt befinden sich Einkaufsmöglichkeiten (Migros, Coop, Bäckerei, Metzgerei, Drogerie usw.). Dank der Nähe zu Uster und Wetzikon sowie dem Autobahnanschluss Uster Nord ist man hier trotz der ländlichen Ruhe bestens mit der Welt verbunden.</p>
        <p>Die Dorfvereine und Behörden sorgen mit einem vielfältigen Angebot an kulturellen und sportlichen Veranstaltungen für eine lebendige Gemeinde.</p>
        <p>Die reizvolle Landschaft am Pfäffikersee lässt keine Wünsche offen. Ob Ausfahrten und Spaziergänge durch die wunderschöne Gegend – hier kommt jeder auf seine Kosten.</p>
        <p>Mehr Informationen zur Gemeinde Pfäffikon unter <a href="https://www.pfaeffikon.ch" target="_blank" rel="noopener noreferrer" class="underline underline-offset-4 decoration-1 hover:no-underline">www.pfaeffikon.ch</a>
        {{ /partial:layout/span }}

        {{ partial:layout/span }}
        
          <picture>
            <source media="(min-width: 768px)" srcset="/assets/wohnen-felsengrund-lage.jpg" type="image/jpeg">
            <img 
              src="/assets/wohnen-felsengrund-lage.jpg" 
              alt="Lage" 
              title="Lage" 
              height="790" 
              width="1200"
              class="block"
              loading="lazy">
          </picture>

        {{ /partial:layout/span }}
        
      {{ /partial:layout/grid }}
    {{ /partial:layout/inner }}

{{ /partial:layout/section }}
