{{ partial:layout/section }}
  
  {{ partial:layout/inner }}
    <h1>Wohnungen</h1>
    {{ partial:layout/grid }}
      
      {{ partial:layout/span }}
        <p>Die Wohnungen überzeugen durch den hohen Ausbaustandard und ihre ruhige Lage mit Blick ins Grüne. Nebst der Ausstattung mit modernen Geräten wird grosser Wert auf die Verwendung von hochwertigen Materialien gelegt. Die lichtdurchfluteten Räumlichkeiten mit den zahlreichen Fenstern bescheren Sonne und Blick ins Grüne.</p>
        <p>In jeder Wohnung befindet sich eine eigene Waschmaschine mit Tumbler. Die grossen Balkone, Sitzplätze und Terrassen laden zum Verweilen ein. Der Glasfaseranschluss liefert schnelles Internet für ihr Homeoffice. Ein weiteres Plus ist die passive Nutzung der Wärmepumpe für eine angenehme Kühlung im Sommer.</p>
        <div class="mt-20 md:mt-30 md:flex space-y-10 md:space-y-0 md:space-x-15">
          <div>
            <a href="/assets/downloads/wohnen-felsengrund-verkaufsplaene.pdf" 
              target="_blank" 
              title="Verkaufspläne herunterladen"
              class="bg-gold rounded-sm font-medium inline-flex text-white uppercase py-10 px-15 tracking-wider leading-none hover:bg-charcoal transition-colors">
              Verkaufspläne
            </a>
          </div>
          <div>
            <a href="/assets/downloads/wohnen-felsengrund-umgebungsplan.pdf" 
              target="_blank" 
              title="Umgebungsplan herunterladen"
              class="bg-gold rounded-sm font-medium inline-flex text-white uppercase py-10 px-15 tracking-wider leading-none hover:bg-charcoal transition-colors">
              Umgebungsplan
            </a>
          </div>
        </div>
      {{ /partial:layout/span }}

      {{ partial:layout/span }}
      
        <picture>
          <source media="(min-width: 768px)" srcset="/assets/wohnen-felsengrund-visualisierung-schlafzimmer.jpg" type="image/jpeg">
          <img 
            src="/assets/wohnen-felsengrund-visualisierung-schlafzimmer.jpg" 
            alt="Visualisierung Schlafzimmer" 
            title="Visualisierung Schlafzimmer" 
            height="592" 
            width="900"
            class="block"
            loading="lazy">
        </picture>

      {{ /partial:layout/span }}

    {{ /partial:layout/grid }}
  
  {{ /partial:layout/inner }}

{{ /partial:layout/section }}

{{ partial:layout/section class="bg-gold"}}
  
  {{ partial:layout/inner class="text-white" }}
  
    <h2 class="text-white">Baubeschrieb</h2>
    {{ partial:layout/grid }}
        
        {{ partial:layout/span }}
          <p>Die modernen Baukörper werden mit hochwertigen Faserzementplatten «Swisspearl» in der Farbe Elfenbein bekleidet. Bauteile wie Geländer, Storen und Dachränder werden in der Farbe Anthrazit-Bronze erstellt und runden so das äussere Erscheinungsbild ab. Wir bringen Wirtschaftlichkeit und Ökologie in Einklang. Die Gebäude sollen ihren täglichen Bedarf möglichst selbst decken und bilden dafür eine Eigenverbrachsgemeinschaft (EVG). Der auf dem Dach erzeugte Solarstrom wird optimal genutzt – und zwar da wo er produziert wird. Natürlich sind auch sämtliche Parkplätze elektrisch angeschlossen, installationsbereit für die Ladestation ihres Elektrofahrzeuges.</p>
        {{ /partial:layout/span }}

        {{ partial:layout/span }}
        
          <picture>
            <source media="(min-width: 768px)" srcset="/assets/wohnen-felsengrund-visualisierung-aussen.jpg" type="image/jpeg">
            <img 
              src="/assets/wohnen-felsengrund-visualisierung-aussen.jpg" 
              alt="Visualisierung Aussen" 
              title="Visualisierung Aussen" 
              height="592" 
              width="900"
              class="block"
              loading="lazy">
          </picture>

        {{ /partial:layout/span }}
        
      {{ /partial:layout/grid }}
    {{ /partial:layout/inner }}

{{ /partial:layout/section }}


{{ partial:layout/section }}

  {{ partial:layout/inner }}

    <h2>Ablauf Verkauf</h2>

    {{ partial:layout/grid }}
        
      {{ partial:layout/span }}
        <h3>SCHRITT 1</h3>
        <ul>
          <li>Beratungsgespräch mit der Morf Bautreuhand AG</li>
        </ul>
        <h3>SCHRITT 2</h3>
        <ul>
          <li>Unterzeichnung Reservationsvereinbarung</li>
          <li>Übergabe Finanzierungsbestätigung</li>
          <li>Reservationsanzahlung</li>
          <li>Ihre Wohnung wird für Sie verbindlich reserviert</li>
        </ul>
        <h3>SCHRITT 3</h3>
        <ul>
          <li>Entwurf vom Kaufvertrag samt aller Beilagen</li>
          <li>Finanzierung durch Ihre Hausbank</li>
        </ul>
        <h3>SCHRITT 4</h3>
        <ul>
          <li>Beurkundung des Kaufvertrages beim zuständigen Notariat</li>
          <li>Übergabe unwiderrufliches Zahlungsversprechen</li>
          <li>Anzahlung in der Höhe von 20% vom Verkaufspreis</li>
        </ul>
        <h3>SCHRITT 5</h3>
        <ul>
          <li>Vier Monate vor Fertigstellung werden Sie über die Übergabe vom Kaufobjekt informiert</li>
          <li>Eigentumsübertrag und Übergabe der fertiggestellten Wohnung</li>
        </ul>
      {{ /partial:layout/span }}

      {{ partial:layout/span }}
        <picture>
          <source media="(min-width: 768px)" srcset="/assets/wohnen-felsengrund-visualisierung-innen.jpg" type="image/jpeg">
          <img 
            src="/assets/wohnen-felsengrund-visualisierung-innen.jpg" 
            alt="Visualisierung Innen" 
            title="Visualisierung Innen" 
            height="592" 
            width="900"
            class="block"
            loading="lazy">
        </picture>
      {{ /partial:layout/span }}

    {{ /partial:layout/grid }}

  {{ /partial:layout/inner }}

{{ /partial:layout/section }}


{{ partial:layout/section class="bg-gold"}}
  
  {{ partial:layout/inner class="text-white" }}
    <h2 class="text-white">
      Baufortschritt
    </h2>

    {{ page_elements }}

      {{ partial:elements }}
      
    {{ /page_elements }}

  {{ /partial:layout/inner }}

{{ /partial:layout/section}}
