<div 
  x-cloak 
  x-show="menu"
  x-transition:enter="transition ease-in duration-200"
  x-transition:enter-start="opacity-0"
  x-transition:enter-end="opacity-100"
  x-transition:leave="transition ease-in duration-0"
  x-transition:leave-start="opacity-100"
  x-transition:leave-end="opacity-0"
  class="bg-white md:bg-transparent fixed left-15 md:left-0 top-75 md:top-0 md:!block md:relative ">
  <nav class="text-black uppercase md:mt-38">
    <ul class="flex flex-col gap-y-15 md:gap-y-0 md:gap-x-15 lg:gap-x-20 md:flex-row">
      {{ nav:main }}
        {{ partial:menu/item }}
      {{ /nav:main }}
    </ul>
  </nav>
</div>