{{ partial:layout/grid }}
    
  {{ partial:layout/span class="sm:!col-span-5" }}

  {{ /partial:layout/span }}

  {{ partial:layout/span class="sm:!col-span-7" }}
    <h2 class="text-base md:text-md text-white normal-case mb-8">
      Tiefgaragenparkplätze
    </h2>
    {{ collection from="objects" as="objects" type:is="tiefgaragenparkplatz" }}
      {{ partial:components/table/table class="mb-40" }}
        {{ partial:components/table/thead }}
        {{ objects }}
          {{ partial:components/table/trow }}
            {{ partial:components/table/tcell class="pr-10" }}
              {{ number }}
            {{ /partial:components/table/tcell }}
            {{ partial:components/table/tcell }}
              {{ floor:label }}
            {{ /partial:components/table/tcell }}
            {{ partial:components/table/tcell }}
              {{ rooms }}
            {{ /partial:components/table/tcell }}
            {{ partial:components/table/tcell class="text-right" }}
              {{ space }}
            {{ /partial:components/table/tcell }}
            {{ partial:components/table/tcell class="text-right" }}
              {{ space_outer }}
            {{ /partial:components/table/tcell }}
            {{ partial:components/table/tcell class="text-right" }}
              {{ space_basement }}
            {{ /partial:components/table/tcell }}
            {{ partial:components/table/tcell class="text-right" }}
              {{ price | format_number(2, '.', '\'') }}
            {{ /partial:components/table/tcell }}
            {{ partial:components/table/tcell class="text-center" }}
              <a href="" target="_blank" title="Download Grundriss Objekt {{ number }}">
                {{ partial:icons/download }}
              </a>
            {{ /partial:components/table/tcell }}
              {{ partial:components/table/tcell class="text-right align-middle !pr-0" }}
                {{ if state == 'available' }}
                <a href="mailto:hello@wohnen-felsengrund.ch?subject=Anmeldung Wohnung {{ number }} | Wohnen Felsengrund"
                  class="font-medium text-sm md:!text-sm text-white hover:text-charcoal bg-charcoal hover:bg-white transition-all inline-flex items-center px-6 h-26 rounded-sm leading-none">
                  E-Mail
                </a>
                {{ elseif state == 'reserved' }}
                reserviert
                {{ else }}
                verkauft
                {{ /if }}
            {{ /partial:components/table/tcell }}
          {{ /partial:components/table/trow }}
        {{ /objects }}
      {{ /partial:components/table/table }}
    {{ /collection }}
  {{ /partial:layout/span }}
{{ /partial:layout/grid }}