{{ partial:layout/grid class="sm:!gap-16 lg:!gap-20 mb-40 lg:mb-60" }}

  {{ partial:layout/span class="lg:!col-span-3" }}
  <div class="uppercase font-medium">Verfügbarkeit</div>
    <div>
      <select 
        class="js-filter-attribute appearance-none !outline-none bg-charcoal rounded-sm font-medium text-white py-10 px-16 mt-10 w-full" 
        data-filterType="object-state" 
        aria-label="Verfügbarkeit">
        <option value="NULL">Alle Wohnungen</option>
        <option value="available">frei</option>
        <option value="reserved">reserviert</option>
        <option value="sold">verkauft</option>
      </select>
    </div>
  {{ /partial:layout/span }}
  
  {{ partial:layout/span class="lg:!col-span-3" }}
    <div class="uppercase font-medium">Zimmer</div>
    <div>
      <select 
        class="js-filter-attribute appearance-none !outline-none bg-charcoal rounded-sm font-medium text-white py-10 px-16 mt-10 w-full" 
        data-filterType="object-rooms" 
        aria-label="Zimmer">
        <option value="NULL">Alle Zimmer</option>
        <option value="3.5">3.5</option>
        <option value="4.5">4.5</option>
      </select>
    </div>
  {{ /partial:layout/span }}
  
  {{ partial:layout/span class="lg:!col-span-3" }}
    <div class="uppercase font-medium">Haus</div>
    <div>
      <select 
        class="js-filter-attribute appearance-none !outline-none bg-charcoal rounded-sm font-medium text-white py-10 px-16 mt-10 w-full"
        data-filterType="object-building" 
        aria-label="Haus">
        <option value="NULL">Alle Häuser</option>
        <option value="1">Pfaffbergstrasse 2</option>
        <option value="2">Pfaffbergstrasse 4</option>
      </select>
    </div>
  {{ /partial:layout/span }}

  {{ partial:layout/span class="lg:!col-span-3" }}
    <div class="uppercase font-medium">Etage</div>
    <div>
      <select 
        class="js-filter-attribute appearance-none !outline-none bg-charcoal rounded-sm font-medium text-white py-10 px-16 mt-10 w-full" 
        data-filterType="object-floor" 
        aria-label="Etage">
        <option value="NULL">Alle Etagen</option>
        <option value="eg">EG</option>
        <option value="1.og">1. OG</option>
        <option value="2.og">2. OG</option>
      </select>
    </div>
  {{ /partial:layout/span }}
  
  {{ partial:layout/span class="lg:!col-span-3 mt-24 md:mt-16 lg:!mt-0" }}
    <button class="js-btn-reset bg-graphite rounded-sm font-medium flex w-full text-white py-10 px-15 hover:bg-charcoal transition-colors">
      Filter zurücksetzen
    </button>
  {{ /partial:layout/span }}

{{ /partial:layout/grid }}