{{ if show_maps }}
  {{ partial:misc/map zoom="{{ slug == 'lage' ? '15' : '13' }}" }}
{{ /if }}
<footer>

  {{ partial:layout/inner }}

    {{ partial:layout/grid class="text-sm md:text-base eading-[1.35]" }}

      {{ partial:layout/span class="md:!col-span-6 lg:!col-span-5" }}
        <h3>Bauherrschaft</h3>
        <p>
          Temperli Immobilien AG<br>
          Hermatswilerstrasse 1<br>
          8330 Pfäffikon
        </p>
      {{ /partial:layout/span }}

      {{ partial:layout/span class="md:!col-span-6 relative" }}
        <img 
          src="/assets/icons/logo-morf-bautreuhand.png" 
          alt="Morf Bautreuhand AG"
          class="hidden sm:block absolute sm:w-80 md:w-100 h-auto sm:-left-95 md:-left-125 top-6">
        <h3>Vermarktung</h3>
        <p>
          Morf Bautreuhand AG<br>
          Schickmattweg 8<br>
          8332 Russikon<br>
          <a 
            href="mailto:hello@wohnen-felsengrund.ch"
            class="no-underline hover:underline underline-offset-4 decoration-1">
            hello@wohnen-felsengrund.ch
          </a>
        </p>
      {{ /partial:layout/span }}

    {{ /partial:layout/grid }}

  {{ /partial:layout/inner }}

  <div class="bg-gold text-white text-xs lg:text-sm py-10">

    {{ partial:layout/inner class="!py-0" }}

      <nav>
        <ul class="flex gap-x-15 lg:gap-x-20">
          <li>
            <a href="/impressum" title="Impressum">Impressum</a>
          </li>
          <li>
            <a href="/datenschutz" title="Datenschutz">Datenschutz</a>
          </li>
          <li>
            <a href="https://stoz.ch" target="_blank" title="stoz.ch" rel="noopener">design by stoz</a>
          </li>
        </ul>
      </nav>

    {{ /partial:layout/inner }}
    
  </div>

</footer>
{{ vite src="resources/js/app.js" }}
{{ livewire:scripts }}
</body>
</html>