/* Building 1 */
.iso-b1-1 {
  font-size: 19px;
}

.iso-b1-1, .iso-b1-2 {
  fill: #fff;
  font-family: Navigo-Light, Navigo;
  font-weight: 300;
  isolation: isolate;
}

.iso-b1-3 {
  fill: #a2a2a2;
}

.iso-b1-3, .iso-b1-4, .iso-b1-5, .iso-b1-6, .iso-b1-7 {
  stroke-linejoin: round;
}

.iso-b1-3, .iso-b1-4, .iso-b1-5, .iso-b1-7 {
  stroke: #000;
  stroke-width: .3px;
}

.iso-b1-4,
.iso-b1-5 {
  fill: #c3b8a3;
}

.iso-b1-8 {
  letter-spacing: 0em;
}

.iso-b1-5 {
  stroke-linecap: round;
}

.iso-b1-2 {
  font-size: 19px;
}

.iso-b1-9 {
  letter-spacing: 0em;
}

.iso-b1-6 {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
}

.iso-b1-10 {
  letter-spacing: 0em;
}

.iso-b1-11 {
  letter-spacing: 0em;
}

.iso-b1-12 {
  letter-spacing: 0em;
}

.iso-b1-7 {
  fill: #947f59;
}

.iso-b1-13 {
  letter-spacing: 0em;
}

/* Building 2 */
.iso-b2-1 {
  stroke-linecap: round;
}

.iso-b2-1, .iso-b2-2, .iso-b2-3, .iso-b2-4, .iso-b2-5 {
  stroke-linejoin: round;
}

.iso-b2-1, .iso-b2-2, .iso-b2-3, .iso-b2-5 {
  stroke: #000;
  stroke-width: .3px;
}

.iso-b2-1, .iso-b2-5 {
  fill: #947f59;
}

.iso-b2-6 {
  font-size: 19px;
}

.iso-b2-6, .iso-b2-7 {
  fill: #fff;
  font-family: Navigo-Light, Navigo;
  font-weight: 300;
  isolation: isolate;
}

.iso-b2-2 {
  fill: #a2a2a2;
}

.iso-b2-3 {
  fill: #c3b8a3;
}

.iso-b2-8 {
  letter-spacing: 0em;
}

.iso-b2-7 {
  font-size: 19px;
}

.iso-b2-9 {
  letter-spacing: 0em;
}

.iso-b2-4 {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
}

.iso-b2-10 {
  letter-spacing: 0em;
}

.iso-b2-11 {
  letter-spacing: 0em;
}

.iso-b2-12 {
  letter-spacing: 0em;
}

.iso-b2-13 {
  letter-spacing: 0em;
}


/* State classes */
.is-active.is-available [class^="iso-b1"],
.is-active.is-available [class^="iso-b2"] {
  fill: #7AA240;
}

.is-active.is-taken [class^="iso-b1"],
.is-active.is-taken [class^="iso-b2"] {
  fill: #C05445;
}

[data-iso]:hover {
  @apply cursor-pointer;
}

[data-object].is-active {
  @apply !bg-taupe !bg-opacity-20;
}

/* Floor classes */
[data-iso-floor] {
  @apply transition-transform duration-300;
}
.is-up {
  @apply transform -translate-y-[16%] transition-transform duration-300;
}

.is-down {
  @apply transform translate-y-[16%] transition-transform duration-300;
}