<label for="{{ id }}" class="flex items-start sm:items-center {{ error ? 'text-red-600' : '' }}">
  <input 
    type="checkbox" 
    name="{{ field }}" 
    id="{{ id }}"
    {{ if value }}
      checked
    {{ /if }}
    value="1"
    class="rounded-sm mt-2 mr-10 w-18 h-18 bg-white opacity-100 accent-charcoal !ring-0 !border-none !shadow-none">
    <span>Ich habe die <a href="/datenschutz" target="_blank" class="inline-block mx-4 underline underline-offset-4 decoration-1 hover:no-underline">Datenschutzerklärung</a> gelesen und akzeptiere diese</span>
</label>