<thead class="border-b border-b-white">
  <tr 
    class="sm:text-sm [&>th]:py-12 [&>th]:pr-6 xs:[&>th]:pr-8 [&>th]:align-middle [&>th]:leading-[1rem] [&>th]:w-auto [&>th]:font-medium">
    <th class="text-left">Nr.</th>
    <th class="text-left">Etage</th>
    <th class="text-left">Zi</th>
    <th class="text-right">HNF&nbsp;m<sup class="text-tiny">2</sup></th>
    <th class="text-right">Aussen&nbsp;m<sup class="text-tiny">2</sup></th>
    <th class="text-right">Keller&nbsp;m<sup class="text-tiny">2</sup></th>
    <th class="text-right">Verkaufspreis</th>
    <th class="text-center">Grundriss</th>
    <th class="text-right !pr-0">Anmeldung</th>
  </tr>
</thead>