<thead class="border-b border-b-white">
  <tr class="sm:text-sm [&>th]:py-12 [&>th]:align-middle [&>th]:leading-none [&>th]:font-medium">
    <th class="text-left w-[10%]">Nr.</th>
    <th class="text-left w-[8%]">Etage</th>
    <th class="text-left w-[4%]">
      {{ type == 'basement' || type == 'carpark' ? '&nbsp;' : 'Zi' }}
    </th>
    <th class="text-right w-[10%]">
      {{ type == 'carpark' ? '&nbsp;' : 'HNF&nbsp;m<sup class="text-tiny">2</sup>' }}
    </th>
    <th class="text-right w-[12%]">
      {{ type == 'carpark' ? '&nbsp;' : 'Aussen&nbsp;m<sup class="text-tiny">2</sup>' }}
    </th>
    <th class="text-right w-[12%]">
      {{ type == 'carpark' ? '&nbsp;' : 'Keller&nbsp;m<sup class="text-tiny">2</sup>' }}
    </th>
    <th class="text-right w-[17%]">Verkaufspreis</th>
    <th class="text-center w-[13%]">Grundriss</th>
    <th class="text-right w-[14%]">Anmeldung</th>
  </tr>
</thead>