<figure>
  <picture>
    <source media="(min-width: 1280px)" srcset="{{ glide:image preset='2xl-webp' }}" type="image/webp">
    <source media="(min-width: 1024px)" srcset="{{ glide:image preset='xl-webp' }}" type="image/webp">
    <source media="(min-width: 768px)" srcset="{{ glide:image preset='lg-webp' }}" type="image/webp">
    <source srcset="{{ glide:image preset='md-webp' }}" type="image/webp">
    <source media="(min-width: 1280px)" srcset="{{ glide:image preset='2xl' }}" type="image/jpeg">
    <source media="(min-width: 1024px)" srcset="{{ glide:image preset='xl' }}" type="image/jpeg">
    <source media="(min-width: 768px)" srcset="{{ glide:image preset='lg' }}" type="image/jpeg">
    <img 
      src="{{ glide:image preset='md' }}" 
      alt="{{ image:alt }}" 
      title="{{ image:alt }}" 
      height="{{ image:height }}" 
      width="{{ image:width }}"
      class="block {{ class ?? '' }}"
      loading="lazy">
  </picture>
  {{ if caption }}
    <figcaption class="py-5">
      {{ caption }}
    </figcaption>
  {{ /if }}
</figure>